
/* FONTS IMPORTS */
@font-face {
  font-family: 'Poppins Thin';
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('/fonts/Poppins/Poppins-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Black';
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

/* VARIABLES */
:root {
  /* THEMING */
  --color-primary: #060c17;
  --color-secondary: #ffffff;
  --color-tertiary: #e05b1b;
  --color-body-text: #060c1780;
}

/* Custom Scroll Bar */
::-webkit-scrollbar-track {
  background-color: var(--color-body-text-2);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-body-text);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-body-text);
  /* border: 2px solid #555555; */
}

/* RESETS */
*,
*::before,
*::after,
*::placeholder {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font: normal normal;
  font-family: 'Poppins', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-body-text);
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-body-text); /* Firefox */
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  background-color: var(--color-secondary);
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  text-align: center;
}

a,
a[href=''] {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-body-text);
  text-transform: capitalize;
}

span,
p,
h1, h2, h3, h4, h5, h6, input, input::placeholder {
  color: inherit;
}

img {
  border: 0;
  box-shadow: none;
  outline: none;
}

.container {
  max-width: 100%;
  width: 116rem;
  margin: 0 auto;
  position: relative;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#svelte {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0vw 5vw;
  }
}